#-----------------------------
# asr wlan devices local parameter
#-----------------------------

menu "asr wlan Parameter"

    config AIC_WIRELESS_PWR_GPIO
        string "asr wlan0 reset on gpio"

endmenu
